<% if (data.status) { %>
<!-- Подвал -->

<footer class="container flex flex-col items-start gap-10 mt-auto bg-white md:flex-row md:justify-between lg:gap-44">
  <a class="w-32 shrink-0" data-waved="light" draggable="false" href="/">
    <%= picture({src: 'img/pictures/logo', format: 'png', className: 'block w-full', data: null}) %>
  </a>
  <nav class="flex flex-col items-start gap-3 sm:gap-5">
    <% _.forEach((data.nav), (item) => { %>
    <% if (item.href) { %>
    <a class="font-normal rounded btn hover:text-primary hover:bg-transparent" <%= item.href !== null ? 'data-scroll' : null %> data-waved="dark" draggable="false" href="<%= item.href %>"><%= item.text %></a>
    <% } else if (item.listing) { %>
    <div class="relative group/accordion" data-accordion data-close-click data-close-scroll>
      <button class="font-normal rounded btn hover:text-primary hover:bg-transparent" data-accordion-toggle data-waved="dark">
        <%= item.text %>
        <%= icon({id: 'arrow-bottom', className: 'icon text-xxs ml-3 transition-transform group-[[data-accordion=active]]/accordion:rotate-180', data: null}) %>
      </button>
      <div class="absolute z-10 top-8 left-0 w-80" data-accordion-content>
        <div class="bg-white shadow-md rounded-xl p-3 flex flex-col items-start gap-2">
          <% for (var i = 0; i < item.listing.length; i++) { %>
          <a class="btn btn-primary text-left text-black font-normal rounded-md hover:text-white hover:bg-primary py-1 px-2" data-waved="light" draggable="false" href=""><%= item.listing[i] %></a>
          <% } %>
        </div>
      </div>
    </div>
    <% } %>
    <% }) %>
  </nav>
  <div class="flex flex-col items-start gap-5">
    <a class="pr-2 text-lg text-left text-black rounded-lg lg:text-xl btn btn-primary font-bold" data-waved="dark" draggable="false" href="tel: +7-495-133-03-13">
      <div class="size-8 flex items-center justify-center gradient-main shrink-0 rounded-lg mr-3 sm:mr-5">
        <%= icon({id: 'telephone', className: 'icon text-white text-2xl', data: null}) %>
      </div>
      +7-495-133-03-13
    </a>
    <a class="pr-2 text-lg text-left text-black rounded-lg lg:text-xl btn btn-primary font-bold" data-waved="dark" draggable="false" href="mailto: ivan@rodionoff.biz">
      <div class="size-8 flex items-center justify-center gradient-main shrink-0 rounded-lg mr-3 sm:mr-5">
        <%= icon({id: 'email', className: 'icon text-white text-2xl', data: null}) %>
      </div>
      ivan@rodionoff.biz
    </a>
    <a class="pr-2 text-lg text-left text-black rounded-lg lg:text-xl btn btn-primary font-bold" data-waved="dark" draggable="false" href="" target="_blank">
      <div class="size-8 flex items-center justify-center gradient-main shrink-0 rounded-lg mr-3 sm:mr-5">
        <%= icon({id: 'telegram', className: 'icon text-white text-2xl', data: null}) %>
      </div>
      rodionoff.biz
    </a>
  </div>
</footer>
<% } %>

<!-- Куки -->

<section class="container fixed left-0 right-0 z-20 py-0 bottom-4" data-cookie="/" data-expires="7" id="cookie">
  <div class="bg-white shadow-md card">
    <div class="items-start px-4 py-4 sm:py-6 lg:flex-row lg:justify-between card-content gap-3 sm:gap-7 lg:py-8">
      <p class="text-xs sm:text-sm grow">
        Оставаясь на сайте, вы даете <a class="underline underline-offset-4" draggable="false" href="">согласие на обработку cookie-файлов и пользовательских данных</a>, собираемых, в том числе, с использованием сервиса Яндекс Метрика, на условиях Политики. Если вы не хотите, чтобы ваши данные обрабатывались, измените настройки браузера или покиньте сайт.
      </p>
      <button class="btn btn-primary btn-sm sm:btn-md btn-fill btn-gradient shrink-0 text-sm sm:text-base" data-cookie-button data-waved="light">Принять</button>
    </div>
  </div>
</section>

</main>

</body>

</html>