<% if (data.status) { %>
<!-- Подвал -->

<footer class="container flex flex-col items-start gap-10 mt-auto bg-white md:flex-row md:justify-between xl:justify-start lg:gap-44">
  <a class="w-32 shrink-0" data-waved="light" draggable="false" href="/">
    <%= picture({src: 'img/pictures/logo', format: 'png', className: 'block w-full', data: null}) %>
  </a>
  <nav class="flex flex-col items-start gap-3 sm:gap-5">
    <% _.forEach((data.nav), (item) => { %>
    <a class="font-normal rounded btn hover:text-primary hover:bg-transparent" <%= item.href !== null ? 'data-scroll' : null %> data-waved="dark" draggable="false" href="<%= item.href %>"><%= item.text %></a>
    <% }) %>
  </nav>
  <div class="flex flex-col items-start gap-5">
    <a class="pr-2 text-lg text-left text-black rounded-lg lg:text-xl btn btn-primary font-base" data-waved="dark" draggable="false" href="tel: +7-495-133-03-13">
      <%= picture({src: 'img/pictures/phone', format: 'svg', className: 'icon text-3xl mr-3 sm:mr-5', data: null}) %>
      +7-495-133-03-13
    </a>
    <a class="pr-2 text-lg text-left text-black rounded-lg lg:text-xl btn btn-primary font-base" data-waved="dark" draggable="false" href="" target="_blank">
      <%= picture({src: 'img/pictures/website', format: 'svg', className: 'icon text-3xl mr-3 sm:mr-5', data: null}) %>
      rodionoff.biz
    </a>
    <a class="pr-2 text-lg text-left text-black rounded-lg lg:text-xl btn btn-primary font-base" data-waved="dark" draggable="false" href="mailto: ivan@rodionoff.biz">
      <%= picture({src: 'img/pictures/mail', format: 'svg', className: 'icon text-3xl mr-3 sm:mr-5', data: null}) %>
      ivan@rodionoff.biz
    </a>
    <a class="pr-2 text-lg text-left text-black rounded-lg lg:text-xl btn btn-primary font-base" data-waved="dark" draggable="false" href="" target="_blank">
      <%= picture({src: 'img/pictures/telegram', format: 'svg', className: 'icon text-3xl mr-3 sm:mr-5', data: null}) %>
      +7-999-999-99-99
    </a>
  </div>
</footer>
<% } %>

</main>

</body>

</html>