<%
  var data = {
    title: 'Статья',
    status: true,
    nav: [
      {
        href: '#about',
        text: 'О компании'
      },
      {
        listing: [
          'Получение статуса резидента Сколково и других ИНТЦ',
          'Решение налоговых споров',
          'Цифровое право'
        ],
        text: 'Услуги'
      },
      {
        href: '#cases',
        text: 'Кейсы'
      },
      {
        href: '#articles',
        text: 'Статьи'
      },
      {
        href: null,
        text: 'Telegram-канал'
      }
    ]
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = require('./components/preloader.html').default
  var title = _.template(require('./components/title.html').default)
  var subtitle = _.template(require('./components/subtitle.html').default)
  var header = _.template(require('./includes/header.html').default)({data, icon, picture, preloader})
  var articles = _.template(require('./includes/articles.html').default)({icon, picture, loader, subtitle})
  var footer = _.template(require('./includes/footer.html').default)({data, icon, picture})
%>

<%= header %>

<!-- <%= data.title %> -->

<section class="container lg:flex lg:items-end relative overflow-hidden lg:overflow-visible min-h-[600px] pt-36">
  <div class="absolute bottom-0 lg:bottom-auto lg:top-16 -right-20 lg:right-0 w-full sm:max-w-md lg:max-w-2xl">
    <%= picture({src: 'img/pictures/rg-img', format: 'png', className: 'block w-full', data: null}) %>
  </div>
  <div class="relative w-full">
    <%= title({text: 'Как будет выглядеть суверенный ИИ', className: ' mb-16 anim anim-up duration-500', data: 'data-anim'}) %>
    <div class="flex flex-col sm:flex-row sm:items-center gap-5 sm:gap-10 w-full max-w-60 sm:max-w-xl anim anim-up duration-500 delay-200" data-anim>
      <div class="relative bg-grey rounded-full overflow-hidden shrink-0 size-20">
        <%= loader %>
        <%= picture({src: 'img/pictures/article', format: 'jpg', className: 'image rounded-inherit', data: null}) %>
      </div>
      <div>
        <h4 class="font-extrabold text-xl sm:text-2xl mb-2">
          Иван Родионов
        </h4>
        <p class="sm:text-lg lg:text-xl">
          управляющий партнер консалтингового агентства Rodionoff group
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Контент -->

<section class="container relative text-sm sm:text-lg lg:text-xl">
  <p>
    На горизонте ближайших трех‒пяти лет в России будет формироваться суверенный и закрытый рынок ИИ. Он будет характеризоваться доминированием нескольких экосистем, преимущественно от крупных корпораций, высокой ролью государства как регулятора и заказчика, а также повышенным вниманием к надежности и этике.
  </p>
  <br>
  <p>
    Минцифры опубликовало законопроект о государственном регулировании искусственного интеллекта. Ожидается, что закон вступит в силу 1 сентября 2027 года.
  </p>
  <br>
  <p>
    Проект предлагает комплексное регулирование искусственного интеллекта, нацеленное на ускорение его развития при одновременном обеспечении безопасности и технологического суверенитета. Предлагается ввести разграничение понятий суверенных и национальных моделей ИИ. Для критически важных сфер вводится реестр «доверенных моделей ИИ». Устанавливаются новые обязанности для разработчиков и пользователей, и отдельно проработаны меры государственной поддержки.
  </p>
  <br>
  <%= subtitle({text: 'Как ограничат ИИ и к чему это приведет', className: null, data: null}) %>
  <br>
  <p>
    Вот семь ключевых тезисов нового законопроекта.
  </p>
  <br>
  <p>
    1. Введение «суверенных и национальных» моделей ИИ. Все стадии разработки, обучения и
  </p>
  <br>
  <p>
    На горизонте ближайших трех‒пяти лет в России будет формироваться суверенный и закрытый рынок ИИ. Он будет характеризоваться доминированием нескольких экосистем, преимущественно от крупных корпораций, высокой ролью государства как регулятора и заказчика, а также повышенным вниманием к надежности и этике.
  </p>
  <br>
  <p>
    Минцифры опубликовало законопроект о государственном регулировании искусственного интеллекта. Ожидается, что закон вступит в силу 1 сентября 2027 года.
  </p>
  <br>
  <p>
    Проект предлагает комплексное регулирование искусственного интеллекта, нацеленное на ускорение его развития при одновременном обеспечении безопасности и технологического суверенитета. Предлагается ввести разграничение понятий суверенных и национальных моделей ИИ. Для критически важных сфер вводится реестр «доверенных моделей ИИ». Устанавливаются новые обязанности для разработчиков и пользователей, и отдельно проработаны меры государственной поддержки.
  </p>
  <br>
  <%= subtitle({text: 'Как ограничат ИИ и к чему это приведет', className: null, data: null}) %>
  <br>
  <p>
    Вот семь ключевых тезисов нового законопроекта.
  </p>
  <br>
  <p>
    1. Введение «суверенных и национальных» моделей ИИ. Все стадии разработки, обучения и
  </p>
  <br>
  <p>
    На горизонте ближайших трех‒пяти лет в России будет формироваться суверенный и закрытый рынок ИИ. Он будет характеризоваться доминированием нескольких экосистем, преимущественно от крупных корпораций, высокой ролью государства как регулятора и заказчика, а также повышенным вниманием к надежности и этике.
  </p>
  <br>
  <p>
    Минцифры опубликовало законопроект о государственном регулировании искусственного интеллекта. Ожидается, что закон вступит в силу 1 сентября 2027 года.
  </p>
  <br>
  <p>
    Проект предлагает комплексное регулирование искусственного интеллекта, нацеленное на ускорение его развития при одновременном обеспечении безопасности и технологического суверенитета. Предлагается ввести разграничение понятий суверенных и национальных моделей ИИ. Для критически важных сфер вводится реестр «доверенных моделей ИИ». Устанавливаются новые обязанности для разработчиков и пользователей, и отдельно проработаны меры государственной поддержки.
  </p>
  <br>
  <div class="grid lg:grid-cols-2 gap-5">
    <div>
      <div class="pack pack-md bg-grey rounded-xl">
        <%= loader %>
        <%= picture({src: 'img/pictures/article', format: 'jpg', className: 'image rounded-inherit', data: null}) %>
      </div>
    </div>
    <div>
      <p>
        На горизонте ближайших трех‒пяти лет в России будет формироваться суверенный и закрытый рынок ИИ. Он будет характеризоваться доминированием нескольких экосистем, преимущественно от крупных корпораций, высокой ролью государства как регулятора и заказчика, а также повышенным вниманием к надежности и этике.
      </p>
      <br>
      <p>
        Минцифры опубликовало законопроект о государственном регулировании искусственного интеллекта. Ожидается, что закон вступит в силу 1 сентября 2027 года.
      </p>
      <br>
      <p>
        Проект предлагает комплексное регулирование искусственного интеллекта, нацеленное на ускорение его развития при одновременном обеспечении безопасности и технологического суверенитета. Предлагается ввести разграничение понятий суверенных и национальных моделей ИИ. Для критически важных сфер вводится реестр «доверенных моделей ИИ». Устанавливаются новые обязанности для разработчиков и пользователей, и отдельно проработаны меры государственной поддержки.
      </p>
    </div>
  </div>
  <br>
  <%= subtitle({text: 'Как ограничат ИИ и к чему это приведет', className: null, data: null}) %>
  <br>
  <p>
    Вот семь ключевых тезисов нового законопроекта.
  </p>
  <br>
  <p>
    1. Введение «суверенных и национальных» моделей ИИ. Все стадии разработки, обучения и
  </p>
  <br>
  <p>
    На горизонте ближайших трех‒пяти лет в России будет формироваться суверенный и закрытый рынок ИИ. Он будет характеризоваться доминированием нескольких экосистем, преимущественно от крупных корпораций, высокой ролью государства как регулятора и заказчика, а также повышенным вниманием к надежности и этике.
  </p>
  <br>
  <p>
    Минцифры опубликовало законопроект о государственном регулировании искусственного интеллекта. Ожидается, что закон вступит в силу 1 сентября 2027 года.
  </p>
  <br>
  <p>
    Проект предлагает комплексное регулирование искусственного интеллекта, нацеленное на ускорение его развития при одновременном обеспечении безопасности и технологического суверенитета. Предлагается ввести разграничение понятий суверенных и национальных моделей ИИ. Для критически важных сфер вводится реестр «доверенных моделей ИИ». Устанавливаются новые обязанности для разработчиков и пользователей, и отдельно проработаны меры государственной поддержки.
  </p>
</section>

<!-- Последние новости и статьи -->

<%= articles %>

<%= footer %>