<%
  var data = {
    title: 'Сопровождение',
    status: true,
    nav: [
      {
        href: '#about',
        text: 'О компании'
      },
      {
        listing: [
          'Получение статуса резидента Сколково и других ИНТЦ',
          'Решение налоговых споров',
          'Цифровое право'
        ],
        text: 'Услуги'
      },
      {
        href: '#cases',
        text: 'Кейсы'
      },
      {
        href: '#articles',
        text: 'Статьи'
      },
      {
        href: null,
        text: 'Telegram-канал'
      }
    ]
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = require('./components/preloader.html').default
  var error = _.template(require('./components/error.html').default)
  var title = _.template(require('./components/title.html').default)
  var subtitle = _.template(require('./components/subtitle.html').default)
  var header = _.template(require('./includes/header.html').default)({data, icon, picture, preloader})
  var contacts = _.template(require('./includes/contacts.html').default)({icon, loader, subtitle})
  var footer = _.template(require('./includes/footer.html').default)({data, icon, picture})
%>

<%= header %>

<!-- <%= data.title %> -->

<section class="container relative pt-28 lg:pt-48">
  <div class="absolute inset-0 overflow-hidden">
    <div class="absolute top-72 lg:top-20 -right-14 lg:right-0 w-full max-w-md lg:max-w-3xl">
      <%= picture({src: 'img/pictures/sk-primal', format: 'png', className: 'block w-full', data: null}) %>
    </div>
  </div>
  <div class="relative w-full lg:max-w-[750px]">
    <%= title({text: 'Отчетность и сопровождение для резидентов Сколково', className: 'break-words mb-36 lg:mb-16 anim anim-up duration-500', data: 'data-anim'}) %>
    <div class="relative z-10 duration-500 delay-200 anim anim-up" data-anim>
      <div class="card bg-white/20 md:bg-white/50 shadow-2xl w-full max-w-96 lg:max-w-full rounded-xl overflow-hidden gradient-glass backdrop-blur-sm">
        <div class="relative card-content lg:flex-row lg:gap-6 lg:items-center lg:justify-between">
          <b class="pt-5 sm:text-lg lg:text-xl lg:pt-0 pb-7 lg:pb-0 pl-7 lg:pl-10 pr-7 lg:pr-0">Консультация эксперта</b>
          <div class="absolute right-0 w-12 rotate-90 lg:w-16 lg:h-0 lg:shrink-0 lg:relative -top-12 lg:-top-24 lg:rotate-0">
            <%= icon({id: 'arrow-right', className: 'block w-full opacity-5', data: null}) %>
          </div>
          <button class="text-xl sm:text-2xl btn btn-primary btn-xl btn-fill btn-gradient active:transform-none" data-waved="light" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-feedback.html">Оставить заявку</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- По статистике 10% резидентов лишаются статуса уже в первый год -->

<% var statistics = [
  'Превышение 30% лимита доходов с непрофильной деятельности',
  'Недостаточный уровень локализации разработок по количественным и/или качественным характеристикам',
  'Несоответствие деятельности компании заявленному проекту на экспертизу Фонда Сколково',
  'Вывод дивидендов без доработки продукта',
  'Отсутствие РИДов (результатов интеллектуальной деятельности) или неверное их оформление',
  'Ошибки в бухгалтерской и операционной отчетности'
] %>

<section class="container relative overflow-hidden sm:overflow-visible">
  <div class="absolute top-0 left-0 right-0 bottom-0 sm:bottom-auto bg-grey">
    <%= loader %>
    <%= picture({src: 'img/pictures/sk-statistics-bg', format: 'jpg', className: 'image block sm:relative sm:h-auto', data: null}) %>
  </div>
  <div class="flex flex-col xl:flex-row xl:justify-between gap-8 sm:gap-10 relative">
    <div class="flex sm:flex-col items-end sm:items-stretch justify-between sm:justify-stretch shrink-0 w-full xl:max-w-[435px]">
      <%= subtitle({text: 'По статистике 10% резидентов лишаются статуса уже в первый год', className: 'anim anim-up duration-500', data: 'data-anim'}) %>
      <div class="shrink-0 w-full max-w-36 sm:max-w-96 sm:-mt-14 -mb-10 sm:-mb-20 -ml-5 sm:ml-0 -mr-10 sm:mr-0">
        <%= picture({src: 'img/pictures/sk-stamp', format: 'png', className: 'block w-full', data: null}) %>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-2 sm:gap-5 grow">
      <% _.forEach((statistics), (item, key) => { %>
      <div class="anim anim-up duration-500" data-anim>
        <div class="border border-solid shadow-xl bg-white/20 card gradient-glass border-white/20">
          <div class="card-content p-4 sm:p-5">
            <div class="font-extrabold text-xl sm:text-2xl mb-2"><%= key + 1 %></div>
            <p class="text-sm sm:text-base mt-auto"><%= item %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>

<!-- Деятельность резидентов регулируется десятками законов и нормативных актов -->

<% var laws = [
  {
    order: 'xl:order-1',
    text: 'Федеральный закон № 244-ФЗ от 28.09.2010 «Об инновационном центре «Сколково»'
  },
  {
    order: 'xl:order-3',
    text: 'Ст. 145.1, Ст. 246.1 Налогового кодекса РФ'
  },
  {
    order: 'xl:order-4',
    text: 'Устав Фонда «Сколково»'
  },
  {
    order: 'xl:order-5',
    text: 'Правила осуществления исследовательской деятельности и коммерциализации ее результатов участниками проекта «Сколково»'
  },
  {
    order: 'xl:order-6',
    text: 'Положение о присвоении и утрате статуса участника проекта создания и обеспечения функционирования инновационного центра «Сколково»'
  },
  {
    order: 'xl:order-7',
    text: 'Положение о возмещении затрат по уплате ввозной таможенной пошлины и НДС РФ'
  },
  {
    order: 'xl:order-8',
    text: 'Методика подтверждения исследований и разработок участника проекта создания и обеспечения функционирования инновационного центра «Сколково» в объектах гражданских прав, вовлекаемых им в экономический оборот'
  },
  {
    order: 'xl:order-10',
    text: 'Письма и разъяснения МинФина И ФНС'
  }
] %>

<section class="container relative z-10">
  <div class="grid xl:grid-cols-2 gap-2 sm:gap-5 lg:gap-8">
    <div class="xl:order-2">
      <%= subtitle({text: 'Деятельность резидентов регулируется десятками законов и нормативных актов', className: 'anim anim-up duration-500', data: 'data-anim'}) %>
    </div>
    <div class="xl:relative xl:order-9 anim anim-up duration-500" data-anim>
      <div class="xl:absolute xl:top-1/2 xl:left-1/2 xl:-translate-y-1/2 xl:-translate-x-1/2 w-full max-w-md mx-auto xl::mx-0">
        <%= picture({src: 'img/pictures/sk-books', format: 'png', className: 'block w-full', data: null}) %>
      </div>
    </div>
    <% _.forEach((laws), (item) => { %>
    <div class="relative min-h-32 xl:min-h-40 anim anim-up duration-500 <%= item.order %>" data-anim>
      <div class="card bg-white shadow-2xl">
        <div class="absolute -top-6 -right-6">
          <%= icon({id: 'clip', className: 'icon text-9xl opacity-10', data: null}) %>
        </div>
        <div class="card-content relative p-5">
          <p class="text-sm/tight sm:text-base/tight mt-auto"><%= item.text %></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>

<!-- Чтобы разобраться во всех тонкостях нам потребовалось -->

<% var subtleties = [
  {
    title: '80+',
    text: 'компаний завести в Сколково в качестве резидентов'
  },
  {
    title: '>1000',
    text: 'консультаций по вопросам применения Правил проекта Сколково'
  },
  {
    title: '>200',
    text: 'камеральных проверок и сданных отчетов'
  },
  {
    title: '5+',
    text: 'лет опыта работы в Сколково в качестве сотрудников'
  },
  {
    title: '24/7',
    text: 'держим руку на пульсе изменений и актуальной практики'
  }
] %>

<section class="container relative">
  <div class="absolute top-0 xl:-top-96 left-0 right-0 bottom-0 sm:bottom-auto bg-grey">
    <%= loader %>
    <%= picture({src: 'img/pictures/sk-subtleties-bg', format: 'jpg', className: 'image block sm:relative sm:h-auto', data: null}) %>
  </div>
  <div class="flex flex-col xl:flex-row xl:justify-between gap-10 relative">
    <div class="flex flex-col shrink-0 w-full xl:max-w-[455px]">
      <%= subtitle({text: 'Чтобы разобраться во всех тонкостях нам потребовалось', className: 'anim anim-up duration-500', data: 'data-anim'}) %>
      <div class="w-full sm:max-w-96 -mt-8 sm:-mt-16 -mb-20 sm:mx-auto xl:mx-0">
        <%= picture({src: 'img/pictures/sk-table', format: 'png', className: 'block w-full', data: null}) %>
      </div>
    </div>
    <div class="grow">
      <ul class="flex flex-col items-center gap-5 sm:gap-8">
        <% _.forEach((subtleties), (item) => { %>
        <li class="flex items-center justify-center gap-5 w-full anim anim-up duration-500" data-anim>
          <span class="font-black text-right text-4xl sm:text-5xl lg:text-6xl shrink-0 w-32 sm:w-56"><%= item.title %></span>
          <p class="text-sm/tight sm:text-lg/tight lg:text-xl/tight grow"><%= item.text %></p>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</section>

<!-- Выявим риски и расскажем, как не иметь проблем с отчетностью -->

<section class="container relative z-10">
  <%= subtitle({text: 'Выявим риски и расскажем, <br class="hidden sm:block"> как не иметь проблем с отчетностью', className: 'mb-8 sm:mb-10 anim anim-up duration-500', data: 'data-anim'}) %>
  <div class="flex mb-8 sm:mb-10 lg:mb-12 anim anim-up duration-500" data-anim>
    <div class="w-3 sm:w-4 shrink-0 mr-2 sm:mr-4 lg:mr-6">
      <%= picture({src: 'img/pictures/lightning', format: 'svg', className: 'block w-full', data: null}) %>
    </div>
    <p class="sm:text-lg lg:text-xl w-full lg:max-w-lg">
      Запишитесь на бесплатную диагностику деятельности вашей компании на соответствие правил Фонда «Сколково»
    </p>
  </div>
  <div class="flex flex-col lg:flex-row lg:items-end lg:justify-between gap-8">
    <div class="rounded-lg overflow-hidden relative sm:w-full sm:max-w-lg -ml-8 sm:ml-auto lg:ml-0 sm:mr-auto lg:mr-0">
      <%= picture({src: 'img/pictures/consultation-img', format: 'png', className: 'block w-full', data: null}) %>
      <div class="absolute bottom-6 sm:bottom-8 left-14 sm:sm:left-20 right-6 sm:right-8 border border-solid shadow-2xl bg-white/10 card backdrop-blur-lg border-white/20 h-auto">
        <div class="card-content text-white py-5 px-8 sm:px-10">
          <h4 class="font-extrabold text-xl sm:text-2xl mb-1">
            Иван Родионов
          </h4>
          <p class="sm:text-lg">
            управляющий партнер консалтингового агентства Rodionoff group
          </p>
        </div>
      </div>
    </div>
    <div class="duration-500 anim anim-up w-full lg:max-w-[560px]" data-anim>
      <div class="border border-solid shadow-2xl bg-white/20 card gradient-glass border-white/20">
        <div class="px-5 py-5 sm:px-10 xl:px-16 sm:py-9 lg:py-12 card-content">
          <form data-form="submit">
            <input type="hidden" value="Тема" name="theme">
            <div class="flex flex-col gap-5 sm:gap-7">
              <label data-label>
                <div class="relative">
                  <input class="opacity-50 input input-lg" data-input="name" type="text" placeholder="Ваше имя" name="name">
                  <%= error({text: 'Введите ваше имя'}) %>
                </div>
              </label>
              <label data-label>
                <div class="relative">
                  <input class="opacity-50 input input-lg" data-input="tel" type="tel" placeholder="Ваш телефон" name="tel">
                  <%= error({text: 'Введите ваш номер'}) %>
                </div>
              </label>
              <label data-label>
                <div class="relative">
                  <textarea class="h-32 opacity-50 input input-lg" data-input="text" type="text" placeholder="Расскажите о вашей ситуации" name="text"></textarea>
                  <%= error({text: 'Заполните это поле'}) %>
                </div>
              </label>
              <button class="text-xl sm:text-2xl btn btn-primary btn-xl btn-fill btn-gradient" data-waved="light" type="submit">Оставить заявку</button>
            </div>
          </form>
          <p class="text-xs mt-5 sm:text-sm opacity-60 col-2">
            Нажимая на кнопку, вы даете <a class="underline underline-offset-4" draggable="false" href="">согласие</a> на обработку персональных данных в соответствии с <a class="underline underline-offset-4" draggable="false" href="">Политикой</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Юридическое сопровождение на всех этапах взаимодействия со Сколково -->

<% var stages = [
  {
    margin: null,
    text: 'Разъяснения правил и нормативных документов, регулирующих деятельность компании'
  },
  {
    margin: 'xl:ml-40',
    text: 'Выявление «красных флагов» в деятельности и документации компании'
  },
  {
    margin: 'xl:ml-96',
    text: 'Методологическая поддержка внутренних департаментов компании'
  },
  {
    margin: 'xl:ml-[565px]',
    text: 'Минимизация рисков при обязательных проверках с учетом требований Фонда Сколково и особенной российского законодательства'
  }
] %>

<section class="container relative">
  <div class="absolute top-0 xl:top-1/2 left-0 right-0 bottom-0 sm:bottom-auto bg-grey w-full md:max-w-[620px] -scale-x-100 sm:scale-x-100">
    <%= loader %>
    <%= picture({src: 'img/pictures/sk-stages-bg', format: 'jpg', className: 'image block sm:relative sm:h-auto', data: null}) %>
  </div>
  <div class="relative">
    <%= subtitle({text: 'Юридическое сопровождение на всех этапах взаимодействия со Сколково', className: 'w-full xl:max-w-[630px] xl:ml-auto mb-24 xl:mb-0 anim anim-up duration-500', data: 'data-anim'}) %>
    <div class="relative">
      <div class="hidden xl:block absolute -top-12 right-0 w-full max-w-[960px]">
        <%= picture({src: 'img/pictures/sk-arrow-stages-desktop', format: 'svg', className: 'block w-full', data: null}) %>
      </div>
      <div class="flex relative">
        <div class="xl:hidden shrink-0 w-6 md:w-5 mr-2">
          <%= picture({src: 'img/pictures/sk-arrow-stages-mobile', format: 'svg', className: 'block w-full', data: null}) %>
        </div>
        <div class="grow">
          <div class="flex flex-col gap-12 xl:gap-8 relative">
            <% _.forEach((stages), (item, key) => { %>
            <div class="w-full xl:max-w-96 xl:last:max-w-[480px] anim anim-right duration-500 <%= item.margin %>" data-anim>
              <div class="card shadow-2xl overflow-visible">
                <div class="absolute -top-16 xl:-top-24 right-0">
                  <%= picture({src: `img/numbers/${key + 1}`, format: 'svg', className: 'icon text-8xl xl:text-9xl', data: null}) %>
                </div>
                <div class="card-content relative p-5">
                  <p class="sm:text-lg lg:text-xl"><%= item.text %></p>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Приведение деятельности в соответствии с правилами фонда  «Сколково» -->

<% var rules = [
  'Проведение аудита деятельности организации с целью выявления нарушений правил Фонда «Сколково»',
  'Разработка плана действий по адаптации деятельности, бухотчетности и документации компании',
  'Разработка устава, договоров, офферт и актов',
  'Формирование внутренних нормативных актов для ведения деятельности в соответствии с правилами Фонда',
  'Разработка стратегии коммерциализации продукта/продуктов',
  'Коммуникация с внутренними отделами Фонда с целью защиты интересов компании'
] %>

<section class="container relative overflow-hidden">
  <div class="flex flex-col xl:flex-row xl:justify-between gap-10">
    <div class="w-full xl:max-w-[610px]">
      <%= subtitle({text: 'Приведение деятельности в соответствии с правилами фонда  «Сколково»', className: 'anim anim-up duration-500', data: 'data-anim'}) %>
      <div class="absolute xl:static -bottom-16 -right-28 opacity-70 xl:opacity-100 w-full max-w-72 xl:max-w-96 xl:-mt-10 xl:ml-auto xl:mr-14">
        <%= picture({src: 'img/pictures/sk-rules-img', format: 'png', className: 'block w-full', data: null}) %>
      </div>
    </div>
    <ul class="flex flex-col gap-2 relative w-full xl:max-w-lg">
      <% _.forEach((rules), (item) => { %>
      <li class="flex items-center anim anim-up duration-500" data-anim>
        <%= picture({src: 'img/pictures/test', format: 'svg', className: 'icon text-4xl mr-4', data: null}) %>
        <p class="text-sm sm:text-base"><%= item %></p>
      </li>
      <% }) %>
    </ul>
  </div>
</section>

<!-- Защита интеллектуальной собственности и ведение отчетности о проведении ниокр -->

<% var protection = [
  {
    order: 'order-2 xl:order-1',
    text: 'Оформление необходимых документов, подтверждающих проведение доработки продукта'
  },
  {
    order: 'order-3 xl:order-2',
    text: 'Подача документов в Роспатент для регистрации прав на интеллектуальную собственность'
  },
  {
    order: 'order-4',
    text: 'Постановка интеллектуальной собственности на баланс предприятия'
  },
  {
    order: 'order-5',
    text: 'Оформление трудовых отношений с сотрудниками и подрядчиками'
  },
  {
    order: 'order-6',
    text: 'Введение специальных режимов, связанных с охраной разных объектов интеллектуальной собственности'
  },
  {
    order: 'order-8',
    text: 'Регистрация ПО'
  },
  {
    order: 'order-9',
    text: 'Патентование'
  },
  {
    order: 'order-10',
    text: 'Документация'
  },
  {
    order: 'order-11',
    text: 'Документация НИОКР'
  }
] %>

<section class="container relative z-10">
  <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-2 sm:gap-5">
    <div class="col-2 lg:col-3 order-1 xl:order-3 pb-6 xl:pb-0 anim anim-up duration-500" data-anim>
      <%= subtitle({text: 'Защита интеллектуальной собственности и ведение отчетности о проведении ниокр', className: 'xl:text-right anim anim-up duration-500', data: 'data-anim'}) %>
    </div>
    <div class="flex items-center justify-center relative xl:col-2 order-7 anim anim-up duration-500" data-anim>
      <div class="xl:absolute top-0 right-0 w-full xl:max-w-md">
        <%= picture({src: 'img/pictures/sk-protection-img', format: 'png', className: 'block w-full', data: null}) %>
      </div>
    </div>
    <% _.forEach((protection), (item) => { %>
    <div class="min-h-48 sm:min-h-[300px] xl:min-h-[260px] anim anim-up duration-500 <%= item.order %>" data-anim>
      <div class="card bg-transparent border border-solid border-black">
        <div class="card-content p-2 sm:p-5">
          <p class="text-sm sm:text-base mb-4"><%= item.text %></p>
          <div class="mt-auto ml-auto">
            <%= picture({src: 'img/pictures/test', format: 'svg', className: 'icon text-3xl sm:text-4xl', data: null}) %>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>

<!-- Квартальные и годовые отчеты -->

<section class="container relative z-10">
  <div class="absolute inset-0 overflow-hidden">
    <div class="absolute xl:-top-40 bottom-10 xl:bottom-auto -right-16 xl:right-0 w-[410px] xl:w-full xl:max-w-4xl">
      <%= picture({src: 'img/pictures/sk-reports-img', format: 'png', className: 'block w-full', data: null}) %>
    </div>
  </div>
  <div class="relative">
    <div class="w-full xl:max-w-[720px] mb-10 sm:mb-12">
      <%= subtitle({text: 'Квартальные и годовые отчеты', className: 'mb-10 anim anim-up duration-500', data: 'data-anim'}) %>
      <div class="flex justify-between anim anim-up duration-500" data-anim>
        <div class="w-3 mr-3 shrink-0 sm:w-4 sm:mr-6">
          <%= picture({src: 'img/pictures/lightning', format: 'svg', className: 'block w-full', data: null}) %>
        </div>
        <p class="sm:text-lg lg:text-xl grow">
          По результатам отчетности принимается решение о сохранении статуса резидента Сколково. Ошибки в отчетности приводят к рискам досрочной утраты преференций.
        </p>
      </div>
    </div>
    <div class="flex flex-col xl:flex-row xl:items-center xl:justify-between gap-10">
      <div class="flex flex-col items-center text-center shrink-0 anim anim-up duration-500" data-anim>
        <h3 class="font-black gradient-text text-5xl sm:text-6xl lg:text-8xl">
          5 отчетов
        </h3>
        <span class="font-extralight text-4xl sm:text-5xl lg:text-6xl">в год</span>
      </div>
      <div class="flex flex-col gap-5 grow">
        <% for (var i = 0; i < 2; i++) { %>
        <div class="card shadow-2xl h-auto z-10 group/accordion" data-accordion data-close-click>
          <div class="card-content p-5">
            <button class="flex items-center justify-between w-full gap-4" data-accordion-toggle>
              <h4 class="font-bold sm:text-lg lg:text-xl text-left">
                4 квартальных отчета
              </h4>
              <%= icon({id: 'arrow-right', className: 'icon text-2.5xl sm:text-3xl lg:text-4xl opacity-10 transition-transform rotate-90 group-[[data-accordion=active]]/accordion:-rotate-90', data: null}) %>
            </button>
            <div data-accordion-content>
              <ul class="text-sm sm:text-base list-outside list-disc pl-4 pt-3 sm:pt-5">
                <li>
                  Исследовательская деятельность
                </li>
                <li>
                  Коммерциализация деятельности
                </li>
                <li>
                  Интеллектуальная собственность
                </li>
                <li>
                  Финансово-хозяйственная деятельность
                </li>
                <li>
                  Внешнее финансирование
                </li>
              </ul>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Камеральные проверки -->

<section class="container relative overflow-hidden sm:overflow-visible">
  <div class="absolute top-0 xl:top-auto left-0 right-0 bottom-0 sm:bottom-auto xl:-bottom-96 bg-grey">
    <%= loader %>
    <%= picture({src: 'img/pictures/sk-check-bg', format: 'jpg', className: 'image block sm:relative sm:h-auto', data: null}) %>
  </div>
  <div class="flex flex-col xl:flex-row sm:items-center xl:justify-between gap-10 relative">
    <div class="absolute sm:static bottom-0 -right-44 sm:shrink-0 w-96 sm:w-full sm:max-w-[470px]">
      <%= picture({src: 'img/pictures/sk-check-img', format: 'png', className: 'block w-full', data: null}) %>
    </div>
    <div class="relative w-full max-w-64 sm:max-w-full xl:max-w-xl">
      <%= subtitle({text: 'Камеральные проверки', className: 'mb-10 anim anim-up duration-500', data: 'data-anim'}) %>
      <div class="sm:text-lg lg:text-xl anim anim-up duration-500" data-anim>
        <p>
          Финансово-хозяйственная и исследовательская деятельность резидента периодически подвергается дополнительной проверке со стороны Фонда.
        </p>
        <br>
        <p>
          Аудиторы Сколково изучают приложенную в годовом отчете документацию и могут выставлять определенные требования по уточнению фактов.
        </p>
        <br>
        <p>
          Мы сопровождаем компанию во время проведения проверок со стороны Сколково, осуществляем коммуникацию с аудиторами Фонда и обеспечиваем прохождение всех формальностей.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Форматы сопровождения -->

<% var escort = [
  {
    title: 'Полное <br> сопровождение',
    text: 'Берем все на себя, чтобы вы не заботились ни о чем'
  },
  {
    title: 'Годовая <br> отчетность',
    text: 'Подготовка документов'
  },
  {
    title: 'Разовые <br> консультации',
    text: 'Когда нужны ответы на важные вопросы'
  }
] %>

<section class="container relative overflow-hidden">
  <%= subtitle({text: 'Форматы сопровождения', className: 'mb-10 anim anim-up duration-500', data: 'data-anim'}) %>
  <div class="mb-10 anim anim-up duration-500" data-anim>
    <div class="pack pack-xs sm:pack-[25] bg-grey rounded-xl">
      <%= loader %>
      <%= picture({src: 'img/pictures/article', format: 'jpg', className: 'image rounded-xl', data: null}) %>
    </div>
  </div>
  <div class="grid lg:grid-cols-3 gap-4 sm:gap-7 lg:gap-10">
    <% _.forEach((escort), (item, key) => { %>
    <div class="relative anim anim-up duration-500" data-anim>
      <% if (key === 2) { %>
      <div class="absolute lg:top-0 -bottom-1/2 lg:bottom-0 -right-8 lg:-right-28 w-60 lg:w-full h-60 lg:h-auto">
        <%= picture({src: 'img/pictures/sk-escort-img', format: 'png', className: 'image', data: null}) %>
      </div>
      <% } %>
      <div class="card bg-transparent border border-solid border-black">
        <div class="card-content p-5">
          <div class="-mt-10 -mr-10 sm:mb-10 lg:mb-24 ml-auto">
            <%= picture({src: 'img/pictures/test', format: 'svg', className: 'icon text-8xl sm:text-9xl', data: null}) %>
          </div>
          <h4 class="font-extrabold text-xl sm:text-2xl mb-5"><%= item.title %></h4>
          <p class="sm:text-lg lg:text-xl mt-auto"><%= item.text %></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>

<!-- Наши контакты -->

<%= contacts %>

<%= footer %>