<%
  var data = {
    title: 'Иконки',
    status: false,
    nav: [
      {
        href: '#about',
        text: 'О компании'
      },
      {
        listing: [
          'Получение статуса резидента Сколково и других ИНТЦ',
          'Решение налоговых споров',
          'Цифровое право'
        ],
        text: 'Услуги'
      },
      {
        href: '#cases',
        text: 'Кейсы'
      },
      {
        href: '#articles',
        text: 'Статьи'
      },
      {
        href: null,
        text: 'Telegram-канал'
      }
    ]
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var preloader = require('./components/preloader.html').default
  var header = _.template(require('./includes/header.html').default)({data, icon, picture, preloader})
  var footer = _.template(require('./includes/footer.html').default)({data, icon, picture})
%>

<%= header %>

<!-- <%= data.title %> -->

<% var icons = ['loader', 'burger', 'close', 'telephone', 'email', 'telegram', 'arrow-bottom', 'arrow-left' ,'arrow-right', 'arrow-diagonal', 'folder', 'user', 'hands', 'lightning', 'experience', 'knowledge', 'complexity', 'checkbox'] %>

<section class="container flex items-center justify-center grow">
  <ul class="grid w-full grid-cols-2 gap-x-3 gap-y-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6">
    <% _.forEach((icons), (item) => { %>
    <li class="flex items-center">
      <%= icon({id: item, className: 'icon text-base mr-2', data: null}) %>
      id: <%= item %>
    </li>
    <% }) %>
  </ul>
</section>

<%= footer %>