<%
  var data = {
    title: 'Инвестиции',
    status: true,
    nav: [
      {
        href: '#about',
        text: 'О компании'
      },
      {
        listing: [
          'Получение статуса резидента Сколково и других ИНТЦ',
          'Решение налоговых споров',
          'Цифровое право'
        ],
        text: 'Услуги'
      },
      {
        href: '#cases',
        text: 'Кейсы'
      },
      {
        href: '#articles',
        text: 'Статьи'
      },
      {
        href: null,
        text: 'Telegram-канал'
      }
    ]
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = require('./components/preloader.html').default
  var error = _.template(require('./components/error.html').default)
  var title = _.template(require('./components/title.html').default)
  var subtitle = _.template(require('./components/subtitle.html').default)
  var header = _.template(require('./includes/header.html').default)({data, icon, picture, loader, preloader})
  var consultation = _.template(require('./includes/consultation.html').default)({picture, loader, error, subtitle})
  var clients = _.template(require('./includes/clients.html').default)({picture, subtitle})
  var footer = _.template(require('./includes/footer.html').default)({data, icon, picture})
%>

<%= header %>

<!-- <%= data.title %> -->

<% var primal = [
  '<b>2 млрд рублей</b> привлеченного финансирования',
  '<b>Полный цикл:</b> от упаковки до поиска потенциальных инвесторов',
  '<b>До 15 экспертов</b> в каждом проекте'
] %>

<section class="container relative pt-44 xl:pt-80 overflow-hidden">
  <div class="absolute inset-0 bg-grey">
    <%= loader %>
    <%= picture({src: 'img/pictures/investments-bg', format: 'jpg', className: 'image object-right sm:object-center', data: null}) %>
    <div class="absolute bottom-0 -right-20 md:right-10 opacity-50 md:opacity-100 w-72 md:w-[485px]">
      <%= picture({src: 'img/pictures/investments-img', format: 'png', className: 'block w-full', data: null}) %>
    </div>
  </div>
  <div class="relative">
    <%= title({text: 'Помогаем компаниям привлекать инвестиции', className: 'mb-3 anim anim-up duration-500', data: 'data-anim'}) %>
    <h3 class="font-bold sm:text-lg lg:text-2xl mb-16 lg:mb-20 anim anim-up duration-500 delay-100" data-anim>
      и выходить на новый уровень
    </h3>
    <ul class="flex flex-col gap-1.5 sm:text-lg lg:text-xl anim anim-up duration-500 delay-200" data-anim>
      <% _.forEach((primal), (item) => { %>
      <li class="flex items-center">
        <div class="w-3 mr-3 shrink-0 sm:w-4 sm:mr-6">
          <%= picture({src: 'img/pictures/lightning', format: 'svg', className: 'block w-full', data: null}) %>
        </div>
        <p><%= item %></p>
      </li>
      <% }) %>
    </ul>
  </div>
</section>

<!-- 7 Шагов к успещному привлечению инвестиций -->

<% var stages = [
  {
    title: 'Финансовое <br> моделирование',
    icon: 'img/stages/1'
  },
  null,
  null,
  null,
  {
    title: 'Экспресс-оценка <br> компании',
    icon: 'img/stages/2'
  },
  null,
  null,
  null,
  {
    title: 'Поиск потенциальных <br> инвесторов',
    icon: 'img/stages/3'
  },
  null,
  {
    title: 'Подготовка <br> инвестиционного <br> предложения',
    icon: 'img/stages/4'
  },
  null,
  {
    title: 'Подготовка <br> к due-dilligence',
    icon: 'img/stages/5'
  },
  null,
  null,
  null,
  {
    title: 'Структурирование <br> сделки',
    icon: 'img/stages/6'
  },
  null,
  null,
  null,
  {
    title: 'Юридическое <br> сопровождение <br> сделки',
    icon: 'img/stages/7'
  }
] %>

<section class="container relative">
  <div class="absolute inset-0 bg-grey">
    <%= loader %>
    <%= picture({src: 'img/pictures/stages-bg', format: 'jpg', className: 'image', data: null}) %>
  </div>
  <div class="relative">
    <%= subtitle({text: '7 Шагов к успещному привлечению инвестиций', className: 'mb-8 sm:mb-12 anim anim-up duration-500', data: 'data-anim'}) %>
    <p class="sm:text-lg lg:text-xl w-full lg:max-w-3xl lg:ml-auto mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500" data-anim>
      Методика, которая позволяет подготовить компанию к внешнему финансированию, найти инвестора и заключить безопасную сделку.
    </p>
    <div class="flex justify-between relative xl:py-12">
      <div class="absolute inset-0 hidden xl:block">
        <%= picture({src: 'img/pictures/line', format: 'svg', className: 'block w-full', data: null}) %>
      </div>
      <div class="sm:hidden shrink-0 w-6">
        <%= picture({src: 'img/pictures/arrow', format: 'svg', className: 'block w-full', data: null}) %>
      </div>
      <div class="relative grow">
        <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-5">
          <% _.forEach((stages), (item) => { %>
          <% if (item !== null) { %>
          <div class="anim anim-up duration-500" data-anim>
            <div class="card shadow-2xl z-10">
              <div class="card-content flex-row items-center justify-between gap-4 pl-5">
                <h4 class="font-bold sm:text-lg lg:text-xl"><%= item.title %></h4>
                <div class="w-24 sm:w-36 shrink-0 -mt-4 sm:-mt-6 -mr-4 sm:-mr-5">
                  <%= picture({src: item.icon, format: 'svg', className: 'block w-full', data: null}) %>
                </div>
              </div>
            </div>
          </div>
          <% } else { %>
          <span class="hidden xl:block"></span>
          <% } %>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Финансовая модель, как фундамент переговоров с инвестором -->

<section class="container relative">
  <div class="hidden lg:block absolute top-0 right-28 w-72">
    <%= picture({src: 'img/pictures/stage-1', format: 'svg', className: 'block w-full', data: null}) %>
  </div>
  <div class="relative">
    <div class="flex flex-col items-start mb-8 sm:mb-12 anim anim-up duration-500" data-anim>
      <%= subtitle({text: 'Шаг 1.', className: 'gradient-text', data: null}) %>
      <%= subtitle({text: 'Финансовая модель, как фундамент переговоров с инвестором', className: null, data: null}) %>
    </div>
    <p class="sm:text-lg lg:text-xl w-full lg:max-w-[760px] ml-auto mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500" data-anim>
      Грамотно подготовленная финансовая модель позволяет ясно понимать потребности и перспективы вашего бизнеса. Точно определить размер необходимого финансирования и убедительно показать инвестору потенциал роста. Без неё поиск инвестора превращается в неопределенность, а переговоры — в риск потерять привлекательные условия сделки.
    </p>
    <div class="flex flex-col lg:flex-row lg:items-start lg:justify-between gap-8 lg:gap-0">
      <div class="relative w-full lg:grow anim anim-up duration-500" data-anim>
        <%= picture({src: 'img/pictures/stage-1-bg', format: 'png', className: 'block w-full', data: null}) %>
        <div class="hidden xl:block bg-white rounded-xl shadow-md absolute z-10 left-0 -top-36 w-full max-w-[270px] p-5">
          <h4 class="font-bold text-xl mb-5">
            Стоимость доли инвестора, ₽
          </h4>
          <div class="pack pack-sm bg-grey">
            <%= loader %>
            <%= picture({src: 'img/pictures/stage-1-img-1', format: 'jpg', className: 'image', data: null}) %>
          </div>
        </div>
        <div class="hidden xl:block bg-white rounded-xl shadow-md absolute z-10 left-32 -bottom-24 w-full max-w-[295px] p-5">
          <h4 class="font-bold text-xl mb-5">
            Финансовый результат по проекту, ₽
          </h4>
          <div class="pack pack-sm bg-grey">
            <%= loader %>
            <%= picture({src: 'img/pictures/stage-1-img-2', format: 'jpg', className: 'image', data: null}) %>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-5 lg:gap-12 w-full lg:max-w-[360px] lg:shrink-0">
        <% for (var i = 0; i < 2; i++) { %>
        <div class="card shadow-2xl h-auto z-10 group/accordion" data-accordion data-close-click>
          <div class="card-content p-5">
            <button class="flex items-center justify-between w-full gap-4" data-accordion-toggle>
              <h4 class="font-bold sm:text-lg lg:text-xl text-left">
                >20 значимых показателей для инвестора
              </h4>
              <%= icon({id: 'arrow-right', className: 'icon text-2.5xl sm:text-3xl lg:text-4xl opacity-10 transition-transform rotate-90 group-[[data-accordion=active]]/accordion:-rotate-90', data: null}) %>
            </button>
            <div data-accordion-content>
              <p class="text-sm sm:text-base pt-3 sm:pt-5">
                Мы рассчитываем ключевые показатели, которые позволят оценить перспективы проекта для инвестора - от выручки и капитальных затрат до IRR и NPV.
              </p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Экспресс-оценка стоимости компании -->

<section class="container relative">
  <div class="hidden lg:block absolute top-0 right-28 w-72">
    <%= picture({src: 'img/pictures/stage-2', format: 'svg', className: 'block w-full', data: null}) %>
  </div>
  <div class="relative">
    <div class="flex flex-col items-start mb-8 sm:mb-12 anim anim-up duration-500" data-anim>
      <%= subtitle({text: 'Шаг 2.', className: 'gradient-text', data: null}) %>
      <%= subtitle({text: 'Экспресс-оценка стоимости компании', className: null, data: null}) %>
    </div>
    <p class="sm:text-lg lg:text-xl w-full lg:max-w-[760px] ml-auto mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500" data-anim>
      Экспресс-оценка позволяет компании войти в переговоры с инвесторами с пониманием реального диапазона справедливой оценки и аргументируя свою позицию.
    </p>
    <div class="flex flex-col lg:flex-row lg:items-start lg:justify-between gap-8 lg:gap-0">
      <div class="flex flex-col gap-5 lg:gap-12 w-full lg:max-w-[360px] lg:shrink-0 order-2 lg:order-1">
        <% for (var i = 0; i < 3; i++) { %>
        <div class="card shadow-2xl h-auto z-10 group/accordion" data-accordion data-close-click>
          <div class="card-content p-5">
            <button class="flex items-center justify-between w-full gap-4" data-accordion-toggle>
              <h4 class="font-bold sm:text-lg lg:text-xl text-left">
                >20 значимых показателей для инвестора
              </h4>
              <%= icon({id: 'arrow-right', className: 'icon text-2.5xl sm:text-3xl lg:text-4xl opacity-10 transition-transform rotate-90 group-[[data-accordion=active]]/accordion:-rotate-90', data: null}) %>
            </button>
            <div data-accordion-content>
              <p class="text-sm sm:text-base pt-3 sm:pt-5">
                Мы рассчитываем ключевые показатели, которые позволят оценить перспективы проекта для инвестора - от выручки и капитальных затрат до IRR и NPV.
              </p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <div class="relative w-full lg:grow order-1 lg:order-1 anim anim-up duration-500" data-anim>
        <%= picture({src: 'img/pictures/stage-2-bg', format: 'png', className: 'block w-full', data: null}) %>
        <div class="hidden xl:block bg-white rounded-xl shadow-md absolute z-10 -right-16 -top-16 w-full max-w-[285px] p-5">
          <h4 class="font-bold text-xl mb-5">
            Макроэкономические предпосылки
          </h4>
          <div class="pack pack-sm bg-grey">
            <%= loader %>
            <%= picture({src: 'img/pictures/stage-2-img-1', format: 'jpg', className: 'image', data: null}) %>
          </div>
        </div>
        <div class="hidden xl:block bg-white rounded-xl shadow-md absolute z-10 -right-16 bottom-7 w-full max-w-[265px] p-5">
          <h4 class="font-bold text-xl mb-5">
            Обменные курсы
          </h4>
          <div class="pack pack-sm bg-grey">
            <%= loader %>
            <%= picture({src: 'img/pictures/stage-2-img-2', format: 'jpg', className: 'image', data: null}) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Получите экспресс-оценку инвестиционной привлекательности вашего бизнеса -->

<%= consultation %>

<!-- Точный выбор инветора -->

<section class="container relative">
  <div class="hidden lg:block absolute top-0 right-28 w-72">
    <%= picture({src: 'img/pictures/stage-3', format: 'svg', className: 'block w-full', data: null}) %>
  </div>
  <div class="relative">
    <div class="flex flex-col items-start mb-8 sm:mb-12 anim anim-up duration-500" data-anim>
      <%= subtitle({text: 'Шаг 3.', className: 'gradient-text', data: null}) %>
      <%= subtitle({text: 'Точный выбор инветора', className: null, data: null}) %>
    </div>
    <p class="sm:text-lg lg:text-xl w-full lg:max-w-[760px] ml-auto mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500" data-anim>
      Подбор пула инвесторов — ключевой этап на пути к успешному финансированию. Мы не стучимся в случайные двери, а точно определяем инвесторов, заинтересованных именно в вашем сегменте и типе проектов.
      <br><br>
      Анализируя инвестиционные стратегии фондов и бизнес-ангелов, мы готовим для вас список тех, кто уже ищет подобные проекты, и знаем, какие материалы необходимо представить, чтобы быстро получить отклик и приступить к переговорам.
    </p>
    <div class="flex flex-col lg:flex-row lg:items-start lg:justify-between gap-8 lg:gap-0">
      <div class="relative w-full lg:max-w-[445px] xl:-ml-14 xl:-mt-80 anim anim-up duration-500" data-anim>
        <%= picture({src: 'img/pictures/stage-3-bg', format: 'png', className: 'block w-full', data: null}) %>
      </div>
      <div class="grid xl:grid-cols-2 gap-5 lg:gap-12 w-full lg:max-w-[360px] xl:max-w-[760px] lg:shrink-0">
        <% for (var i = 0; i < 2; i++) { %>
        <div>
          <div class="card shadow-2xl h-auto z-10 group/accordion" data-accordion data-close-click>
            <div class="card-content p-5">
              <button class="flex items-center justify-between w-full gap-4" data-accordion-toggle>
                <h4 class="font-bold sm:text-lg lg:text-xl text-left">
                  >20 значимых показателей для инвестора
                </h4>
                <%= icon({id: 'arrow-right', className: 'icon text-2.5xl sm:text-3xl lg:text-4xl opacity-10 transition-transform rotate-90 group-[[data-accordion=active]]/accordion:-rotate-90', data: null}) %>
              </button>
              <div data-accordion-content>
                <p class="text-sm sm:text-base pt-3 sm:pt-5">
                  Мы рассчитываем ключевые показатели, которые позволят оценить перспективы проекта для инвестора - от выручки и капитальных затрат до IRR и NPV.
                </p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Подготовка инвестиционного предложения -->

<section class="container relative">
  <div class="hidden lg:block absolute top-0 right-28 w-72">
    <%= picture({src: 'img/pictures/stage-4', format: 'svg', className: 'block w-full', data: null}) %>
  </div>
  <div class="relative">
    <div class="flex flex-col items-start mb-8 sm:mb-12 anim anim-up duration-500" data-anim>
      <%= subtitle({text: 'Шаг 4.', className: 'gradient-text', data: null}) %>
      <%= subtitle({text: 'Подготовка инвестиционного предложения', className: null, data: null}) %>
    </div>
    <p class="sm:text-lg lg:text-xl w-full lg:max-w-[760px] ml-auto mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500" data-anim>
      Качественный питчдэк — визитная карточка вашего проекта перед инвестором. От того, насколько точно и убедительно будет изложена суть проекта, зависит, захочет ли инвестор продолжить диалог или сразу откажется.
      <br><br>
      Мы создаем сильное инвестиционное предложение, подчеркивающее ключевые преимущества проекта, раскрывающее его потенциал и соответствуем ожиданиям профессиональных инвесторов.
    </p>
    <div class="flex flex-col lg:flex-row lg:items-start lg:justify-between gap-8 lg:gap-0">
      <div class="relative w-full lg:grow lg:-ml-60 xl:-ml-96 xl:-mt-80 anim anim-up duration-500" data-anim>
        <%= picture({src: 'img/pictures/stage-4-bg', format: 'png', className: 'block w-full', data: null}) %>
      </div>
      <div class="flex flex-col gap-5 lg:gap-12 w-full lg:max-w-[360px] lg:shrink-0">
        <% for (var i = 0; i < 3; i++) { %>
        <div class="card shadow-2xl h-auto z-10 group/accordion" data-accordion data-close-click>
          <div class="card-content p-5">
            <button class="flex items-center justify-between w-full gap-4" data-accordion-toggle>
              <h4 class="font-bold sm:text-lg lg:text-xl text-left">
                >20 значимых показателей для инвестора
              </h4>
              <%= icon({id: 'arrow-right', className: 'icon text-2.5xl sm:text-3xl lg:text-4xl opacity-10 transition-transform rotate-90 group-[[data-accordion=active]]/accordion:-rotate-90', data: null}) %>
            </button>
            <div data-accordion-content>
              <p class="text-sm sm:text-base pt-3 sm:pt-5">
                Мы рассчитываем ключевые показатели, которые позволят оценить перспективы проекта для инвестора - от выручки и капитальных затрат до IRR и NPV.
              </p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Подготовка к due diligence -->

<section class="container relative">
  <div class="hidden lg:block absolute top-0 right-28 w-72">
    <%= picture({src: 'img/pictures/stage-5', format: 'svg', className: 'block w-full', data: null}) %>
  </div>
  <div class="relative">
    <div class="flex flex-col items-start mb-8 sm:mb-12 anim anim-up duration-500" data-anim>
      <%= subtitle({text: 'Шаг 5.', className: 'gradient-text', data: null}) %>
      <%= subtitle({text: 'Подготовка к due diligence', className: null, data: null}) %>
    </div>
    <p class="sm:text-lg lg:text-xl w-full lg:max-w-[760px] ml-auto mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500" data-anim>
      Прекрасный проект на бумаге может стать проблемным активом для инвестора. Именно поэтому каждый инвестиционный проект подвергается аудиту.
      <br><br>
      Due diligence — это процедура составления объективного представления об объекте инвестирования, всестороннее исследование деятельности компании, комплексная проверка её финансового состояния и положения на рынке, выявление и оценка рисков.
    </p>
    <div class="flex flex-col lg:flex-row lg:items-start lg:justify-between gap-8 lg:gap-0">
      <div class="relative w-full lg:grow lg:-ml-40 xl:-ml-80 xl:-mt-40 anim anim-up duration-500" data-anim>
        <%= picture({src: 'img/pictures/stage-5-bg', format: 'png', className: 'block w-full', data: null}) %>
      </div>
      <div class="flex flex-col gap-5 lg:gap-12 w-full lg:max-w-[360px] lg:shrink-0">
        <% for (var i = 0; i < 3; i++) { %>
        <div class="card shadow-2xl h-auto z-10 group/accordion" data-accordion data-close-click>
          <div class="card-content p-5">
            <button class="flex items-center justify-between w-full gap-4" data-accordion-toggle>
              <h4 class="font-bold sm:text-lg lg:text-xl text-left">
                >20 значимых показателей для инвестора
              </h4>
              <%= icon({id: 'arrow-right', className: 'icon text-2.5xl sm:text-3xl lg:text-4xl opacity-10 transition-transform rotate-90 group-[[data-accordion=active]]/accordion:-rotate-90', data: null}) %>
            </button>
            <div data-accordion-content>
              <p class="text-sm sm:text-base pt-3 sm:pt-5">
                Мы рассчитываем ключевые показатели, которые позволят оценить перспективы проекта для инвестора - от выручки и капитальных затрат до IRR и NPV.
              </p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Структурирование сделки -->

<section class="container relative">
  <div class="hidden lg:block absolute top-0 right-28 w-72">
    <%= picture({src: 'img/pictures/stage-6', format: 'svg', className: 'block w-full', data: null}) %>
  </div>
  <div class="relative">
    <div class="flex flex-col items-start mb-8 sm:mb-12 anim anim-up duration-500" data-anim>
      <%= subtitle({text: 'Шаг 6.', className: 'gradient-text', data: null}) %>
      <%= subtitle({text: 'Структурирование сделки', className: null, data: null}) %>
    </div>
    <p class="sm:text-lg lg:text-xl w-full lg:max-w-[760px] ml-auto mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500" data-anim>
      От того, какую форму примет ваша сделка с инвестором, зависит эффективность и будущая выгода всех сторон.
      <br><br>
      Сегодня существует несколько видов венчурных инструментов: от классического входа инвестора в капитал и конвертируемых займов до более современных форматов, таких как SAFE (Simple Agreement for Future Equity), FAST (Founder-friendly Agreement for Simple Transactions) и опционные соглашения.
      <br><br>
      Мы поможем выбрать именно ту структуру сделки, которая наиболее полно отвечает вашим интересам.
    </p>
    <div class="flex flex-col lg:flex-row lg:items-start lg:justify-between gap-8 lg:gap-0">
      <div class="relative w-full lg:grow lg:-ml-40 xl:-ml-80 xl:-mt-52 anim anim-up duration-500" data-anim>
        <%= picture({src: 'img/pictures/stage-6-bg', format: 'png', className: 'block w-full', data: null}) %>
      </div>
      <div class="flex flex-col gap-5 lg:gap-12 w-full lg:max-w-[360px] lg:shrink-0">
        <% for (var i = 0; i < 3; i++) { %>
        <div class="card shadow-2xl h-auto z-10 group/accordion" data-accordion data-close-click>
          <div class="card-content p-5">
            <button class="flex items-center justify-between w-full gap-4" data-accordion-toggle>
              <h4 class="font-bold sm:text-lg lg:text-xl text-left">
                >20 значимых показателей для инвестора
              </h4>
              <%= icon({id: 'arrow-right', className: 'icon text-2.5xl sm:text-3xl lg:text-4xl opacity-10 transition-transform rotate-90 group-[[data-accordion=active]]/accordion:-rotate-90', data: null}) %>
            </button>
            <div data-accordion-content>
              <p class="text-sm sm:text-base pt-3 sm:pt-5">
                Мы рассчитываем ключевые показатели, которые позволят оценить перспективы проекта для инвестора - от выручки и капитальных затрат до IRR и NPV.
              </p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Юридическое сопровождение сделки -->

<section class="container relative">
  <div class="hidden lg:block absolute top-0 right-28 w-72">
    <%= picture({src: 'img/pictures/stage-7', format: 'svg', className: 'block w-full', data: null}) %>
  </div>
  <div class="relative">
    <div class="flex flex-col items-start mb-8 sm:mb-12 anim anim-up duration-500" data-anim>
      <%= subtitle({text: 'Шаг 7.', className: 'gradient-text', data: null}) %>
      <%= subtitle({text: 'Юридическое сопровождение сделки', className: null, data: null}) %>
    </div>
    <p class="sm:text-lg lg:text-xl w-full lg:max-w-[760px] ml-auto mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500" data-anim>
      Грамотное юридическое сопровождение инвестиционной сделки — это не только гарантия защиты ваших интересов, но и фундамент стабильного развития компании. Правильно структурированная сделка обеспечивает спокойствие и уверенность всех сторон.
      <br><br>
      Для этого необходима командная работа разноплановых специалистов: корпоративных юристов, экспертов по интеллектуальной собственности и налоговых консультантов, которые обеспечат четкость и прозрачность на каждом этапе сотрудничества с инвестором.
    </p>
    <div class="flex flex-col lg:flex-row lg:items-start lg:justify-between gap-8 lg:gap-0">
      <div class="relative w-full lg:grow lg:-ml-56 xl:-ml-96 xl:-mt-80 anim anim-up duration-500" data-anim>
        <%= picture({src: 'img/pictures/stage-7-bg', format: 'png', className: 'block w-full', data: null}) %>
      </div>
      <div class="grid xl:grid-cols-2 gap-5 lg:gap-12 w-full lg:max-w-[360px] xl:max-w-[760px] lg:shrink-0">
        <% for (var i = 0; i < 2; i++) { %>
        <div>
          <div class="card shadow-2xl h-auto z-10 group/accordion" data-accordion data-close-click>
            <div class="card-content p-5">
              <button class="flex items-center justify-between w-full gap-4" data-accordion-toggle>
                <h4 class="font-bold sm:text-lg lg:text-xl text-left">
                  >20 значимых показателей для инвестора
                </h4>
                <%= icon({id: 'arrow-right', className: 'icon text-2.5xl sm:text-3xl lg:text-4xl opacity-10 transition-transform rotate-90 group-[[data-accordion=active]]/accordion:-rotate-90', data: null}) %>
              </button>
              <div data-accordion-content>
                <p class="text-sm sm:text-base pt-3 sm:pt-5">
                  Мы рассчитываем ключевые показатели, которые позволят оценить перспективы проекта для инвестора - от выручки и капитальных затрат до IRR и NPV.
                </p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Получите экспресс-оценку инвестиционной привлекательности вашего бизнеса -->

<%= consultation %>

<!-- Кейсы из практики -->

<section class="container overflow-hidden" id="cases">
  <%= subtitle({text: 'Кейсы из практики', className: 'mb-8 sm:mb-12 lg:mb-16 anim anim-up duration-500', data: 'data-anim'}) %>
  <div class="relative" data-slider="cases">
    <div class="swiper w-full lg:max-w-[800px] xl:max-w-[960px] lg:mx-auto" data-slider-swiper="cases">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 6; i++) { %>
        <div class="h-auto overflow-hidden swiper-slide rounded-xl">
          <div class="card">
            <div class="card-content">
              <ul class="flex flex-col gap-5 px-5 pt-16 pb-5 sm:px-7 lg:px-10 lg:pt-10 sm:pb-7 lg:pb-10 sm:gap-8">
                <li class="flex flex-col items-start gap-3 lg:flex-row lg:justify-between sm:gap-6 lg:gap-10">
                  <div class="flex items-center w-full shrink-0 lg:max-w-40">
                    <span class="shrink-0 size-1.5 rounded-full gradient-main mr-3 sm:mr-5"></span>
                    <h4 class="font-bold sm:text-lg lg:text-xl">
                      Компания <%= i %>
                    </h4>
                  </div>
                  <p class="w-full max-w-[660px] text-sm sm:text-base">
                    Известная сеть оптик
                  </p>
                </li>
                <li class="flex flex-col items-start gap-3 lg:flex-row lg:justify-between sm:gap-6 lg:gap-10">
                  <div class="flex items-center w-full shrink-0 lg:max-w-40">
                    <span class="shrink-0 size-1.5 rounded-full gradient-main mr-3 sm:mr-5"></span>
                    <h4 class="font-bold sm:text-lg lg:text-xl">
                      Запрос
                    </h4>
                  </div>
                  <p class="w-full max-w-[660px] text-sm sm:text-base">
                    300 млн рублей на кэшаут одного из учредителей
                  </p>
                </li>
              </ul>
              <div class="flex flex-col items-start gap-3 p-5 mt-auto text-white lg:flex-row lg:justify-between sm:gap-6 lg:gap-10 sm:p-7 lg:p-10 gradient-main rounded-xl">
                <div class="flex items-center w-full text-xl shrink-0 lg:max-w-40">
                  <%= icon({id: 'lightning', className: 'icon mr-3 sm:mr-5', data: null}) %>
                  <b>Решение</b>
                </div>
                <p class="w-full max-w-[660px] text-sm sm:text-base">
                  Проведен анализ возможных структур сделки, после чего выбрано решение о продажи нескольких торговых точках группе разрозненных частных инвесторов. Это позволило не получить инвестора с блокирующей долей в капитале, при этом привлечь значительное финансирование.
                  <br><br>
                  Были разработан полный пакет материалов - презентации, финансовая модель, проведена оценка каждой торговой точки. Юристы компании сопроводили каждую сделку.
                </p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <button class="absolute rounded-full left-3 lg:left-0 top-8 size-8 lg:size-14 swiper-button-prev btn btn-second lg:top-1/2" data-slider-prev="cases" data-waved="dark">
      <%= icon({id: 'arrow-left', className: 'text-2xl lg:text-5xl', data: null}) %>
    </button>
    <button class="absolute rounded-full right-3 lg:right-0 top-8 size-8 lg:size-14 swiper-button-next btn btn-primary lg:top-1/2" data-slider-next="cases" data-waved="dark">
      <%= icon({id: 'arrow-right', className: 'text-2xl lg:text-5xl', data: null}) %>
    </button>
  </div>
</section>

<!-- 12 лет развиваем идеи и технологии -->

<% var idea = [
  {
    title: 'Концепция 360',
    text: 'Решаем задачи комплексно, совмещая бизнес-компетенции с юридической практикой'
  },
  {
    title: 'Опыт',
    text: 'Более 13 лет консультируем бизнес по всему миру.'
  },
  {
    title: 'Деловые связи',
    text: 'Сеть уникальных контактов на всех уровнях необходимых бизнесу.'
  },
  {
    title: 'Набор компетенций',
    text: 'Юридический бутик, бизнес и корпоративное  консультирование, стратегические коммуникации.'
  }
] %>

<section class="container relative sm:overflow-hidden">
  <div class="hidden sm:block absolute inset-0 bg-grey">
    <%= loader %>
    <%= picture({src: 'img/pictures/idea-bg', format: 'jpg', className: 'image', data: null}) %>
  </div>
  <div class="relative">
    <%= subtitle({text: '12 лет развиваем идеи и технологии', className: 'mb-8 sm:mb-12 lg:mb-16 anim anim-up duration-500', data: 'data-anim'}) %>
    <div class="relative">
      <div class="lg:absolute lg:inset-0 lg:flex lg:items-center lg:justify-center mb-8 lg:mb-0">
        <div class="w-full lg:max-w-[585px]">
          <%= picture({src: 'img/pictures/logo-string', format: 'png', className: 'block w-full sm:max-w-[465px]', data: null}) %>
          <p class="text-base sm:text-lg lg:text-xl">
            - консалтинговая компания предлагающая эталонные юридические и бизнес-решения для технологических и инновационных компаний по всему миру.
            <br><br>
            Наша кросс-дисциплинарная команда обладает компетенциями как в области финансов и венчурных инвестиций, так и в области корпоративного права и налогообложения.
          </p>
        </div>
      </div>
      <div class="grid lg:grid-cols-2 lg:gap-x-20 xl:gap-x-40 gap-y-5 sm:gap-y-10 lg:gap-y-96 relative">
        <% _.forEach((idea), (item) => { %>
        <div class="anim anim-right sm:odd:anim-right sm:even:anim-left duration-500" data-anim>
          <div class="bg-transparent border border-solid shadow-2xl card h-auto gradient-glass backdrop-blur-sm border-white/20">
            <div class="card-content py-3 sm:py-5 px-5 sm:px-7 lg:px-10">
              <h3 class="font-black text-3xl sm:text-4xl lg:text-[40px] lg:leading-tight uppercase tracking-wider"><%= item.title %></h3>
              <p class="text-base sm:text-lg lg:text-xl"><%= item.text %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
</section>

<!-- Нам доверяют -->

<%= clients %>

<!-- Будем на связи -->

<section class="container relative overflow-hidden">
  <div class="absolute inset-0 bg-grey">
    <%= loader %>
    <%= picture({src: 'img/pictures/feedback-bg', format: 'jpg', className: 'image', data: null}) %>
  </div>
  <div class="relative">
    <%= subtitle({text: 'Будем на связи', className: 'mb-8 sm:mb-12 lg:mb-16 anim anim-up duration-500', data: 'data-anim'}) %>
    <div class="lg:flex lg:items-center lg:justify-between lg:gap-8">
      <div class="duration-500 anim anim-right w-full lg:max-w-[560px]" data-anim>
        <div class="border border-solid shadow-2xl bg-white/20 card gradient-glass border-white/20">
          <div class="px-5 py-5 sm:px-10 xl:px-16 sm:py-9 lg:py-12 card-content">
            <form data-form="submit">
              <input type="hidden" value="Тема" name="theme">
              <div class="flex flex-col gap-5 sm:gap-7">
                <label data-label>
                  <div class="relative">
                    <input class="opacity-50 input input-lg" data-input="name" type="text" placeholder="Ваше имя" name="name">
                    <%= error({text: 'Введите ваше имя'}) %>
                  </div>
                </label>
                <label data-label>
                  <div class="relative">
                    <input class="opacity-50 input input-lg" data-input="tel" type="tel" placeholder="Ваш телефон" name="tel">
                    <%= error({text: 'Введите ваш номер'}) %>
                  </div>
                </label>
                <label data-label>
                  <div class="relative">
                    <textarea class="h-32 opacity-50 input input-lg" data-input="text" type="text" placeholder="Расскажите о вашей ситуации" name="text"></textarea>
                    <%= error({text: 'Заполните это поле'}) %>
                  </div>
                </label>
                <button class="text-xl sm:text-2xl btn btn-primary btn-xl btn-fill btn-gradient" data-waved="light" type="submit">Оставить заявку</button>
              </div>
            </form>
            <div class="flex mt-5">
              <a class="text-sm sm:text-base text-left underline-offset-4 hover:underline" draggable="false" href="" target="_blank">
                Отправляя форму, Вы даете согласие на обработку <br class="hidden sm:block"> Ваших персональных данных
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden lg:block duration-500 anim anim-left w-full lg:max-w-[600px]" data-anim>
        <%= picture({src: 'img/pictures/news-phone', format: 'png', className: 'block w-full -scale-x-100', data: null}) %>
      </div>
    </div>
  </div>
</section>

<%= footer %>