<%
  var data = {
    title: 'Господдержка',
    status: true,
    nav: [
      {
        href: '#about',
        text: 'О компании'
      },
      {
        listing: [
          'Получение статуса резидента Сколково и других ИНТЦ',
          'Решение налоговых споров',
          'Цифровое право'
        ],
        text: 'Услуги'
      },
      {
        href: '#cases',
        text: 'Кейсы'
      },
      {
        href: '#articles',
        text: 'Статьи'
      },
      {
        href: null,
        text: 'Telegram-канал'
      }
    ]
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader = require('./components/preloader.html').default
  var error = _.template(require('./components/error.html').default)
  var title = _.template(require('./components/title.html').default)
  var subtitle = _.template(require('./components/subtitle.html').default)
  var header = _.template(require('./includes/header.html').default)({data, icon, picture, preloader})
  var cases = _.template(require('./includes/cases.html').default)({icon, subtitle})
  var footer = _.template(require('./includes/footer.html').default)({data, icon, picture})
%>

<%= header %>

<!-- <%= data.title %> -->

<% var primal = [
  '<b>Гранты:</b> до 250 млн рублей на разработки, масштабирование и коммерциализацию',
  '<b>Льготы:</b> 0% налог и НДС, сниженные отчисления в ПФР, субсидии таможенных платежей',
  '<b>Спецпроекты:</b> участие в региональных и федеральных проектах в рамках национальной стратегии РФ'
] %>

<section class="relative">
  <div class="absolute top-0 left-0 bg-grey w-full sm:max-w-lg">
    <%= loader %>
    <%= picture({src: 'img/pictures/state-bg', format: 'jpg', className: 'block relative w-full', data: null}) %>
  </div>
  <div class="container relative pt-44 xl:pt-80 overflow-hidden">
    <div class="absolute top-12 md:top-24 xl:top-40 -right-24 lg:right-10 xl:right-16 w-[300px] md:w-[500px] xl:w-[700px]">
      <%= picture({src: 'img/pictures/state-img', format: 'png', className: 'block w-full', data: null}) %>
    </div>
    <div class="relative w-full lg:max-w-[730px]">
      <%= title({text: 'Системная господдержка вашего бизнеса', className: 'break-words mb-14 lg:mb-20 anim anim-up duration-500', data: 'data-anim'}) %>
      <ul class="flex flex-col gap-5 sm:text-lg lg:text-xl anim anim-up duration-500 delay-200" data-anim>
        <% _.forEach((primal), (item) => { %>
        <li class="flex items-center">
          <div class="w-3 mr-3 shrink-0 sm:w-4 sm:mr-6">
            <%= picture({src: 'img/pictures/lightning', format: 'svg', className: 'block w-full', data: null}) %>
          </div>
          <p><%= item %></p>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</section>

<!-- Что такое господдержка -->

<section class="container relative z-10">
  <%= subtitle({text: 'Что такое господдержка', className: 'mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500', data: 'data-anim'}) %>
  <p class="sm:text-lg lg:text-xl w-full xl:max-w-[760px] xl:ml-auto mb-8 sm:mb-14 lg:mb-20 anim anim-up duration-500" data-anim>
    Сегодня государство, профильные министерства и региональные власти предлагают <b>несколько сотен инструментов для развития бизнеса</b>. Системная господдержка — это выявление и классификация экономических стимулов государства путем выстраивания формальных и неформальных коммуникаций с органами власти и институтами развития для достижения целей и интересов бизнеса.
  </p>
  <div class="relative gradient-glass rounded-2xl border-2 border-solid border-primary pt-8 sm:pt-12 lg:pt-16 xl:pb-16 px-5 sm:px-10 lg:px-16 anim anim-up duration-500" data-anim>
    <div class="w-full sm:max-w-[420px] sm:ml-auto">
      <div class="flex">
        <%= icon({id: 'quotes', className: 'icon text-3xl mr-4 lg:mr-7', data: null}) %>
        <div class="flex flex-col sm:text-lg lg:text-xl">
          <p class="mb-5 sm:mb-12">
            Нужно создать все условия, чтобы малые и средние компании развивались динамично.
          </p>
          <b class="text-right sm:text-left">Владимир Владимирович Путин</b>
        </div>
      </div>
    </div>
    <div class="xl:absolute bottom-0 left-0 w-full lg:max-w-[695px]">
      <%= picture({src: 'img/pictures/president-img', format: 'png', className: 'block w-full', data: null}) %>
    </div>
  </div>
</section>

<!-- Что можно получить от государства -->

<section class="container relative">
  <div class="absolute right-0 bottom-0 bg-grey w-full sm:max-w-lg">
    <%= loader %>
    <%= picture({src: 'img/pictures/support-bg', format: 'jpg', className: 'block relative w-full', data: null}) %>
  </div>
  <div class="relative">
    <%= subtitle({text: 'Что можно получить от государства', className: 'mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500', data: 'data-anim'}) %>
    <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-5 sm:gap-7 lg:gap-10">
      <% for (var i = 0; i < 6; i++) { %>
      <div class="anim anim-up duration-500" data-anim>
        <div class="card shadow-2xl">
          <div class="card-content flex-row items-start justify-between p-5">
            <div class="grow mr-4 sm:mr-8">
              <h4 class="font-bold sm:text-lg lg:text-xl mb-2 sm:mb-5">
                PR и информ-поддержка
              </h4>
              <p class="text-xm sm:text-base">
                Крупнейшие выставки и форумы, круглые столы и комиссии, продвижение законотворческих инициатив и новых национальных проектов.
              </p>
            </div>
            <%= picture({src: 'img/pictures/test', format: 'svg', className: 'icon text-4xl', data: null}) %>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<!-- Эффективность господдержки для частного бизнеса -->

<% var efficiency = [
  {
    name: {
      title: 'Объем инвестиций',
      text: '(на примере технологических компаний)'
    },
    first: {
      value: '94',
      title: 'млрд ₽',
      text: 'объем выданных грантов и субсидий за год'
    },
    last: {
      value: '10',
      title: 'млрд ₽',
      text: 'объем венчурных инвестиций в России за год'
    }
  },
  {
    name: {
      title: 'Кредитная ставка'
    },
    first: {
      value: '6 %',
      title: 'годовых',
      text: 'средний размер процентной ставки по льготному кредиту от государства'
    },
    last: {
      value: '35 %',
      text: 'средний размер процентной ставки по кредиту для бизнеса от банка'
    }
  },
  {
    name: {
      title: 'Темпы роста бизнеса'
    },
    first: {
      value: '19 %',
      title: 'в год',
      text: 'средний рост выручки компаний с господдержкой'
    },
    last: {
      value: '13 %',
      title: 'в год',
      text: 'средний рост выручки компаний без господдержки'
    }
  }
] %>

<section class="container relative">
  <%= subtitle({text: 'Эффективность господдержки <br class="hidden md:block"> для частного бизнеса', className: 'mb-8 sm:mb-12 anim anim-up duration-500', data: 'data-anim'}) %>
  <p class="sm:text-lg lg:text-xl mb-8 sm:mb-12 lg:mb-16 xl:mb-20 w-full xl:max-w-[760px] ml-auto anim anim-up duration-500" data-anim>
    В <b>2024 году</b> мы провели масштабное исследование эффективности господдержки и частных инвестиций.
  </p>
  <div class="relative">
    <div class="hidden lg:grid grid-cols-3 absolute inset-0">
      <span></span>
      <div class="gradient-glass rounded-2xl border border-second border-solid"></div>
      <span></span>
    </div>
    <div class="flex flex-col gap-5 lg:gap-8 relative">
      <% _.forEach((efficiency), (item) => { %>
      <div class="grid grid-cols-2 lg:grid-cols-3 gap-y-5 sm:gap-y-10 lg:gap-y-14 gap-x-2 sm:gap-x-6 lg:gap-x-10 xl:gap-x-14 lg:border-b lg:border-dashed lg:border-second/40 lg:last:border-none">
        <div class="lg:flex lg:flex-col lg:items-start lg:justify-center text-center lg:text-left lg:py-5 col-2 lg:col-1">
          <h4 class="font-extrabold text-xl sm:text-2xl"><%= item.name.title %></h4>
          <% if (item.name.text) { %>
          <p class="text-sm sm:text-base"><%= item.name.text %></p>
          <% } %>
        </div>
        <div class="lg:flex lg:flex-col lg:items-start lg:justify-center gradient-glass lg:!bg-none rounded-lg lg:rounded-none border border-primary border-solid lg:border-none p-2 lg:p-5">
          <h4>
            <span class="font-bold text-2xl sm:text-3xl lg:text-4xl"><%= item.first.value %></span>
            <span class="font-extrabold text-xl sm:text-2xl"><%= item.first.title %></span>
          </h4>
          <p class="text-sm sm:text-base"><%= item.first.text %></p>
        </div>
        <div class="lg:flex lg:flex-col lg:items-start lg:justify-center py-2 lg:py-5 px-2 lg:px-0">
          <h4 class="gradient-text">
            <span class="font-bold text-2xl sm:text-3xl lg:text-4xl"><%= item.last.value %></span>
            <% if (item.last.title) { %>
            <span class="font-extrabold text-xl sm:text-2xl"><%= item.last.title %></span>
            <% } %>
          </h4>
          <p class="text-sm sm:text-base"><%= item.last.text %></p>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>

<!-- Пример дорожной карты системной господдержки -->

<% var map = [
  {
    position: 'lg:top-5 xl:top-20 lg:left-0',
    text: 'Формирование <br> GR-стратегии'
  },
  {
    position: 'lg:top-32 xl:top-52 lg:left-9',
    text: 'Получение статуса резидента <br> Сколково <b>(0% налог <br> на прибыль и НДС)</b>'
  },
  {
    position: 'lg:top-64 xl:top-[370px] lg:left-28',
    text: 'Включение в реестр <br> Малых Технологических <br> Компаний'
  },
  {
    position: 'lg:top-96 xl:top-[500px] lg:left-80',
    text: '<b>4 млн ₽ <br> микрогрантов</b> <br> от Сколково'
  },
  {
    position: 'lg:top-64 xl:top-80 lg:left-[415px]',
    text: 'IT-аккредитация (льготная <br> ипотека и отсрочка <br> от армии для сотрудников)'
  },
  {
    position: 'lg:top-32 xl:top-40 lg:right-[270px] xl:right-[400px]',
    text: 'Запуск проекта в двух регионах <br> России при поддержке Агентства <br> Стратегических Инициатив'
  },
  {
    position: 'lg:top-0 lg:right-72',
    text: '<b>8 млн ₽ грант</b> <br> от Фонда Содействия <br> Инновациям'
  },
  {
    position: 'lg:top-32 lg:right-20',
    text: 'Льготный кредит <br> <b>50 млн ₽ <br> под 5% годовых</b>'
  },
  {
    position: 'lg:top-64 lg:right-12',
    text: 'Участие <br> в акселераторе <br> SBER500'
  },
  {
    position: 'lg:top-[420px] lg:right-0',
    text: 'Инвестиции <br> от стратегического инвестора <br> с государственным участием'
  }
] %>

<section class="container relative">
  <div class="absolute inset-0">
    <div class="w-full md:max-w-2xl relative md:mx-auto bg-grey h-full">
      <%= loader %>
      <%= picture({src: 'img/pictures/map-bg', format: 'jpg', className: 'image', data: null}) %>
    </div>
  </div>
  <div class="relative">
    <%= subtitle({text: 'Пример дорожной карты <br class="hidden sm:block"> системной господдержки', className: 'mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500', data: 'data-anim'}) %>
    <div class="flex gap-2">
      <div class="lg:hidden w-5 shrink-0">
        <%= picture({src: 'img/pictures/state-mobile-line', format: 'svg', className: 'block w-full', data: null}) %>
      </div>
      <div class="flex flex-col items-start gap-3 relative grow">
        <div class="hidden lg:block w-full">
          <%= picture({src: 'img/pictures/state-desktop-line', format: 'svg', className: 'block w-full', data: null}) %>
        </div>
        <% _.forEach((map), (item) => { %>
        <div class="lg:absolute anim anim-up duration-500 <%= item.position %>" data-anim>
          <div class="card shadow-2xl">
            <div class="card-content p-3 lg:p-5">
              <p class="text-sm lg:text-base"><%= item.text %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</section>

<!-- Как мы работаем? -->

<section class="container relative">
  <%= subtitle({text: 'Как мы работаем?', className: 'mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500', data: 'data-anim'}) %>
  <div class="grid lg:grid-cols-2 gap-5 sm:gap-7 lg:gap-10">
    <% for (var i = 0; i < 4; i++) { %>
    <div class="anim anim-up duration-500" data-anim>
      <div class="card shadow-2xl">
        <div class="absolute inset-0 opacity-80">
          <%= picture({src: `img/work/${i + 1}`, format: 'png', className: 'image', data: null}) %>
        </div>
        <div class="card-content items-start relative p-5">
          <h3 class="font-extrabold text-xl sm:text-2xl gradient-text mb-7 lg:mb-12">
            Отчетность <br> и документация
          </h3>
          <p class="text-sm sm:text-base lg:text-xl mt-auto">
            Оказываем всю необходимую юридическую и технологическую поддержку для реализации проектов.
            <br><br>
            Сдаем отчетность, оформляем НМА, проводим экспертизы.
          </p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>

<!-- Получите консультацию эксперта -->

<section class="container relative hidden sm:block">
  <div class="absolute inset-0 container pointer-events-none hidden lg:block">
    <div class="absolute inset-0 md:right-auto bg-grey md:w-[460px]">
      <%= loader %>
      <%= picture({src: 'img/pictures/consultation-bg', format: 'jpg', className: 'image', data: null}) %>
    </div>
    <div class="relative size-full flex items-end">
      <%= picture({src: 'img/pictures/consultation-img', format: 'png', className: 'block w-[425px] ml-56', data: null}) %>
    </div>
  </div>
  <div class="relative flex flex-col lg:flex-row lg:justify-between gap-8">
    <div class="w-full lg:max-w-[600px]">
      <%= subtitle({text: 'Получите консультацию эксперта', className: 'mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500', data: 'data-anim'}) %>
      <p class="sm:text-lg lg:text-xl w-full lg:max-w-96 anim anim-up duration-500" data-anim>
        Расскажите о вашей ситуации — <br>
        наши эксперты подготовят эффективные решения <br>
        и ответят на ваши вопросы
      </p>
    </div>
    <div class="duration-500 anim anim-up w-full lg:max-w-[560px]" data-anim>
      <div class="border border-solid shadow-2xl bg-white/20 card gradient-glass border-white/20">
        <div class="px-5 py-5 sm:px-10 xl:px-16 sm:py-9 lg:py-12 card-content">
          <form data-form="submit">
            <input type="hidden" value="Тема" name="theme">
            <div class="flex flex-col gap-5 sm:gap-7">
              <label data-label>
                <div class="relative">
                  <input class="opacity-50 input input-lg" data-input="name" type="text" placeholder="Ваше имя" name="name">
                  <%= error({text: 'Введите ваше имя'}) %>
                </div>
              </label>
              <label data-label>
                <div class="relative">
                  <input class="opacity-50 input input-lg" data-input="tel" type="tel" placeholder="Ваш телефон" name="tel">
                  <%= error({text: 'Введите ваш номер'}) %>
                </div>
              </label>
              <label data-label>
                <div class="relative">
                  <textarea class="h-32 opacity-50 input input-lg" data-input="text" type="text" placeholder="Расскажите о вашей ситуации" name="text"></textarea>
                  <%= error({text: 'Заполните это поле'}) %>
                </div>
              </label>
              <button class="text-xl sm:text-2xl btn btn-primary btn-xl btn-fill btn-gradient" data-waved="light" type="submit">Оставить заявку</button>
            </div>
          </form>
          <p class="text-xs mt-5 sm:text-sm opacity-60">
            Нажимая на кнопку, вы даете <a class="underline underline-offset-4" draggable="false" href="">согласие</a> на обработку персональных данных в соответствии с <a class="underline underline-offset-4" draggable="false" href="">Политикой</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- С кем мы взаимодействуем -->

<section class="container">
  <%= subtitle({text: 'С кем мы взаимодействуем', className: 'mb-8 sm:mb-10 lg:mb-12 anim anim-up duration-500', data: 'data-anim'}) %>
  <div class="grid grid-cols-2 md:grid-cols-3">
    <% for (var i = 0; i < 12; i++) { %>
    <div class="duration-500 anim anim-up" data-anim>
      <div class="pack pack-[65] md:pack-xs">
        <%= picture({src: 'img/pictures/test', format: 'png', className: 'image object-scale-down', data: null}) %>
      </div>
    </div>
    <% } %>
  </div>
</section>

<!-- Кейсы из практики -->

<%= cases %>

<!-- О компании -->

<% var about = [
  {
    title: '> 12 лет опыта',
    text: 'Эксперты обладают опытом в сфере стратегического, юридического и GR консалтинга'
  },
  {
    title: '> 1 млрд ₽',
    text: 'объем господдержки, субсидий и налоговых льгот полученных нашими клиентами за последние 3 года'
  },
  {
    title: '> 20 компаний',
    text: 'получают системную господдержку с нашей помощью ежегодно'
  },
  {
    title: '> 100 проектов',
    text: 'реализовано в сфере GR и получения господдержки для МСП'
  },
  {
    title: '> 500 консультаций',
    text: 'по мерам господдержки для бизнеса за последние 3 года'
  },
  {
    title: '> 10 человек',
    text: 'команда каждого проекта (аналитики, специалисты по коммуникациям, проектные менеджеры, юристы, финансисты)'
  }
] %>

<section class="container relative z-10 sm:overflow-hidden">
  <%= subtitle({text: 'О компании', className: 'mb-8 sm:mb-12 lg:mb-16 xl:mb-20 anim anim-up duration-500', data: 'data-anim'}) %>
  <div class="grid lg:grid-cols-2 gap-y-5 sm:gap-y-10 lg:gap-y-16 gap-x-16 xl:gap-x-40">
    <% _.forEach((about), (item) => { %>
    <div class="anim anim-right sm:odd:anim-right sm:even:anim-left duration-500" data-anim>
      <div class="bg-transparent border border-solid shadow-2xl card gradient-glass backdrop-blur-sm border-white/20">
        <div class="card-content py-3 sm:py-5 px-5 sm:px-7 lg:px-10">
          <h3 class="font-black text-3xl sm:text-4xl lg:text-[40px] lg:leading-tight uppercase tracking-wider"><%= item.title %></h3>
          <p class="sm:text-lg lg:text-xl"><%= item.text %></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>

<!-- Начните получать системную поддержку от государства -->

<section class="relative">
  <div class="hidden md:block absolute bottom-0 right-0 w-full max-w-lg bg-grey">
    <%= loader %>
    <%= picture({src: 'img/pictures/state-feedback-bg', format: 'jpg', className: 'block relative w-full', data: null}) %>
  </div>
  <div class="container relative overflow-hidden">
    <%= subtitle({text: 'Начните получать <span class="gradient-text">системную поддержку</span> от государства', className: 'mb-8 sm:mb-12 lg:mb-16 anim anim-up duration-500', data: 'data-anim'}) %>
    <div class="lg:flex lg:items-center lg:justify-between lg:gap-8">
      <div class="duration-500 anim anim-right w-full lg:max-w-[560px]" data-anim>
        <div class="border border-solid shadow-2xl bg-white/20 card gradient-glass border-white/20">
          <div class="px-5 py-5 sm:px-10 xl:px-16 sm:py-9 lg:py-12 card-content">
            <form data-form="submit">
              <input type="hidden" value="Тема" name="theme">
              <div class="flex flex-col gap-5 sm:gap-7">
                <label data-label>
                  <div class="relative">
                    <input class="opacity-50 input input-lg" data-input="name" type="text" placeholder="Ваше имя" name="name">
                    <%= error({text: 'Введите ваше имя'}) %>
                  </div>
                </label>
                <label data-label>
                  <div class="relative">
                    <input class="opacity-50 input input-lg" data-input="tel" type="tel" placeholder="Ваш телефон" name="tel">
                    <%= error({text: 'Введите ваш номер'}) %>
                  </div>
                </label>
                <label data-label>
                  <div class="relative">
                    <textarea class="h-32 opacity-50 input input-lg" data-input="text" type="text" placeholder="Расскажите о вашей ситуации" name="text"></textarea>
                    <%= error({text: 'Заполните это поле'}) %>
                  </div>
                </label>
                <button class="text-xl sm:text-2xl btn btn-primary btn-xl btn-fill btn-gradient" data-waved="light" type="submit">Оставить заявку</button>
              </div>
            </form>
            <p class="text-xs mt-5 sm:text-sm opacity-60">
              Нажимая на кнопку, вы даете <a class="underline underline-offset-4" draggable="false" href="">согласие</a> на обработку персональных данных в соответствии с <a class="underline underline-offset-4" draggable="false" href="">Политикой</a>
            </p>
          </div>
        </div>
      </div>
      <div class="hidden lg:block duration-500 anim anim-left w-full lg:max-w-[600px]" data-anim>
        <%= picture({src: 'img/pictures/state-phone', format: 'png', className: 'block w-full', data: null}) %>
      </div>
    </div>
  </div>
</section>

<%= footer %>