@use "./ui-kit/fonts";
@use "./ui-kit/basic";
@use "./ui-kit/custom";
@use "./ui-kit/waved";
@use "./ui-kit/container";
@use "./ui-kit/card";
@use "./ui-kit/load";
@use "./ui-kit/image";
@use "./ui-kit/icon";
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  &-main {
    background-image: linear-gradient(90.49deg, theme("colors.second.DEFAULT") 0.42%, theme("colors.primary.DEFAULT") 99.68%);
  }

  &-glass {
    background-image: linear-gradient(123.12deg, theme("colors.white.DEFAULT / 0.2") 25.96%, theme("colors.glass.DEFAULT / 0.3") 72.48%);
  }

  &-text {
    background-image: linear-gradient(90.49deg, theme("colors.second.DEFAULT") 0.42%, theme("colors.primary.DEFAULT") 99.68%);

    -webkit-text-fill-color: transparent;

    @apply bg-clip-text;
  }
}